Repository at-ishikawa/react-template-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx}": [
    "eslint --fix"
  ],
  "*.css": [
    "stylelint --fix"
  ]
}

Install prettier
  .eslintrc
  .lintstagedrc
  .prettierrc
  Makefile
  package.json
  src/js/actions/index.js
  src/js/application.jsx
  src/js/components/elements/DefaultFooter.jsx
  src/js/components/elements/DefaultHeader.jsx
  src/js/components/layouts/DefaultContainer.jsx
  src/js/components/pages/ErrorPage.jsx
  src/js/components/pages/IndexPage.jsx
  src/js/reducers/index.js
  yarn.lock
Due: eslint --fix

Install ExtractTextPlugin
  package.json
  webpack.config.babel.js
  yarn.lock
Due: none

Minify Html/CSS with htmlwebpack and cssnano
  .gitignore
  dist/.gitignore
  package.json
  postcss.config.js
  src/html/index.html
  webpack.config.babel.js
  yarn.lock
Due: none

Change class names for extracted css
  src/js/components/elements/DefaultFooter.jsx
  src/js/components/elements/DefaultHeader.jsx
  src/js/components/layouts/DefaultContainer.jsx
  webpack.config.babel.js
Due: eslint --fix

Install bable-preset-env
  .babelrc
  package.json
  yarn.lock
Due: none

Design file structures as atomic designs
  src/css/atoms/button.css
  src/css/organisms/footer.css
  src/css/organisms/header.css
  src/js/components/atoms/Button.jsx
  src/js/components/layouts/DefaultContainer.jsx
  src/js/components/organisms/DefaultFooter.jsx
  src/js/components/organisms/DefaultHeader.jsx
  src/js/components/pages/IndexPage.jsx
Due: eslint --fix, stylelint --fix

Resolve file paths by relatively
  .eslintrc
  .flowconfig
  jest.config.js
  src/js/application.jsx
  src/js/components/atoms/Button.jsx
  src/js/components/layouts/DefaultContainer.jsx
  src/js/components/organisms/DefaultFooter.jsx
  src/js/components/organisms/DefaultHeader.jsx
  src/js/components/pages/IndexPage.jsx
  src/js/reducers/index.test.js
  webpack.config.babel.js
Due: eslint --fix

Specify each container by each page
  src/js/application.jsx
  src/js/components/pages/ErrorPage.jsx
  src/js/components/pages/IndexPage.jsx
Due: eslint --fix

Add git add for lint staged
  .lintstagedrc
Due: none

Extract Router
  src/js/application.jsx
  src/js/routes/Router.jsx
Due: eslint --fix

Create a directory for headers/footers
  src/css/layouts/guest-container.css
  src/css/organisms/footers/guest-footer.css
  src/css/organisms/headers/guest-header.css
  src/js/components/layouts/DefaultContainer.jsx
  src/js/components/layouts/GuestContainer.jsx
  src/js/components/organisms/DefaultFooter.jsx
  src/js/components/organisms/DefaultHeader.jsx
  src/js/components/organisms/footers/GuestFooter.jsx
  src/js/components/organisms/headers/GuestHeader.jsx
  src/js/components/pages/ErrorPage.jsx
  src/js/components/pages/IndexPage.jsx
Due: eslint --fix, stylelint --fix

Add base error and error handling
  src/js/application.jsx
  src/js/components/pages/ErrorPage.jsx
  src/js/errors/BaseError.js
  src/js/errors/ErrorHandler.js
Due: eslint --fix

Do not bundle react / react-dom / react-router
  src/html/index.html
  webpack.config.babel.js
Due: none

Install TypeScript and configure for webpack
  package.json
  src/js/components/atoms/Button.tsx
  tsconfig.json
  webpack.config.babel.js
  yarn.lock
Due: none

Change all js files to ts files
  .babelrc
  .flowconfig
  Makefile
  flow-typed/Env.js
  flow-typed/history.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/prop-types_v15.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router-redux_vx.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  flow-typed/react-document-meta.js
  flow/stub/css-modules.js
  package.json
  src/js/actions/index.ts
  src/js/application.tsx
  src/js/components/layouts/GuestContainer.tsx
  src/js/components/organisms/footers/GuestFooter.tsx
  src/js/components/organisms/headers/GuestHeader.tsx
  src/js/components/pages/ErrorPage.tsx
  src/js/components/pages/IndexPage.tsx
  src/js/errors/BaseError.ts
  src/js/errors/ErrorHandler.ts
  src/js/reducers/index.test.tsx
  src/js/reducers/index.ts
  src/js/routes/Router.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: none

Install tslint and configure prettier
  .prettierrc
  Makefile
  package.json
  src/js/actions/index.ts
  src/js/application.tsx
  src/js/components/atoms/Button.tsx
  src/js/components/layouts/GuestContainer.tsx
  src/js/components/organisms/footers/GuestFooter.tsx
  src/js/components/organisms/headers/GuestHeader.tsx
  src/js/components/pages/ErrorPage.tsx
  src/js/components/pages/IndexPage.tsx
  src/js/errors/ErrorHandler.ts
  src/js/reducers/index.test.tsx
  src/js/reducers/index.ts
  src/js/routes/Router.tsx
  tslint.json
  yarn.lock
Due: none

Remove babel/flow/eslint
  .eslintrc
  .lintstagedrc
  package.json
  yarn.lock
Due: none

Change dependencies for typescripts
  package.json
Due: none

Remove redux
  package.json
  yarn.lock
Due: none

Remove unnecessary packages
  package.json
  yarn.lock
Due: none

Change config.yml
  .circleci/config.yml
Due: none

Install react-helmet
  package.json
  src/js/components/pages/IndexPage.tsx
  tslint.json
  yarn.lock
Due: none

Install enzyme
  jest.config.js
  package.json
  src/js/components/pages/IndexPage.test.tsx
  src/js/components/pages/IndexPage.tsx
  tests/setup.js
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Due: none

Add ts and tsx for editorconfig
  .editorconfig
Due: none

Update reset.css
  src/css/bases/reset.css
Due: stylelint --fix

Rename filename and directory name to pascal case
  src/js/Application.tsx
  src/js/Components/Atoms/Button.tsx
  src/js/Components/Layouts/GuestContainer.tsx
  src/js/Components/Organisms/Footers/GuestFooter.tsx
  src/js/Components/Organisms/Headers/GuestHeader.tsx
  src/js/Components/Pages/ErrorPage.tsx
  src/js/Components/Pages/IndexPage.test.tsx
  src/js/Components/Pages/IndexPage.tsx
  src/js/Errors/BaseError.ts
  src/js/Routes/Router.tsx
  webpack.config.js
Due: none

Improve performance for webpack
  package.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: none

Fix not to watch component files
  package.json
  src/js/Routes/Router.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: none

Change to CSS module
  package.json
  webpack.config.js
  yarn.lock
Due: none

Refactor to use CSS Modules
  .gitignore
  package.json
  src/css/layouts/base-layout.css
  src/js/Components/Atoms/Button.tsx
  src/js/Components/Layouts/GuestContainer.tsx
  src/js/Components/Layouts/GuestLayout.tsx
  src/js/Components/Organisms/Footers/GuestFooter.tsx
  src/js/Components/Organisms/Headers/GuestHeader.tsx
  webpack.config.js
  yarn.lock
Due: stylelint --fix

Update for production build
  Makefile
  webpack.config.js
Due: none

Fix CI failure
  .gitignore
  src/css/atoms/button.css.d.ts
  src/css/bases/color.css.d.ts
  src/css/bases/reset.css.d.ts
  src/css/layouts/base-layout.css.d.ts
  src/css/organisms/footers/guest-footer.css.d.ts
  src/css/organisms/headers/guest-header.css.d.ts
  src/js/Application.tsx
  src/js/Components/Pages/IndexPage.tsx
Due: none

Update postcss to configure for import/apply
  package.json
  postcss.config.js
  webpack.config.js
  yarn.lock
Due: none

Remove type files for css
  .circleci/config.yml
  .gitignore
  src/css/atoms/button.css.d.ts
  src/css/bases/color.css.d.ts
  src/css/bases/reset.css.d.ts
  src/css/layouts/base-layout.css.d.ts
  src/css/organisms/footers/guest-footer.css.d.ts
  src/css/organisms/headers/guest-header.css.d.ts
Due: none

Revert "Remove type files for css"
  .circleci/config.yml
  .gitignore
  src/css/atoms/button.css.d.ts
  src/css/bases/color.css.d.ts
  src/css/bases/reset.css.d.ts
  src/css/layouts/base-layout.css.d.ts
  src/css/organisms/footers/guest-footer.css.d.ts
  src/css/organisms/headers/guest-header.css.d.ts
Due: none

Use webfont
  src/css/bases/color.css
  src/css/bases/font.css
  src/css/bases/reset.css
  src/css/layouts/base-layout.css
Due: stylelint --fix
